@import 'styles/variables.scss';

.header{
  .search-input::placeholder{
    color: silver;
  }
  .account-zone-responsive{
    img{
      border-radius: 50%;
      width: 25%;
      float: left;
    }
    p{
      font-size: 14px;
      color: white;
      line-height: 3.8;
      margin-left: 70px;
    }
  }

  .w-100{
    width: 100%;
  }

  .navigation_responsive{
    background-color: $main-bg-color;
    left: 0px;
    transition: all 0.8s ease;
    z-index: 9999;
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
    padding: 40px 0;
    width: 300px;
    height: 100%;
    &.lv2{
      padding-top: 0;
    }
    &.hidden_sidebar{
      left: -300px;
    }
    .contact-sidebar-zone{
      .contact-sidebar{
        a{
          font-size: 14px !important;
          text-transform: none;
        }
      }
    }
    .suitcase-container{
      position: absolute;
      left: 40px;
      top: 20px;
      .suitcase-relative{
        position: relative;
        .count-location{
          position: absolute;
          color: $main-bg-color;
          background: white;
          padding: 3px 7px;
          border-radius: 50%;
          top: -10px;
          right: -20px;
          z-index: 9;
          font-size: 13px;
        }
      }
    }
    .menu-lv2{
      padding: 0;
      margin: 0;
      li{
        display: block;
        // border-bottom: 1px solid #dddddd;
        position: relative;
        .mm-item{
          display: block;
          padding: 15px 15px;
          font-size: 1.5rem;
          font-weight: 700;
          cursor: pointer;
          position: relative;
          white-space: pre-wrap;
          padding-right: 20px;
          text-transform: uppercase;
          color: white;
          transition: 0.2s all;
          span{
            float: left;
          }
          p{
            position: absolute;
            top: 16px;
            left: 30px;
            color: white;
          }
          // &.inactive{
          //   background: #fff !important;
          // }
          &.active{
            background: #5B6677;
            a{
              font-weight: bold !important;
            }
          }
          &.effect-hover{
            &:hover{
              background: #5B6677;
            }
          }
        }
        ul.sub-menu {
          margin: 0px;
          padding: 0px;
          list-style: none;
          li {
            padding: 0px 20px;
            text-align: left;
            a {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }

  .nd_options_navigation_2_sidebar div > ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    li {
      display: inline-block;
      width: 100%;
      padding: 10px 40px 10px 40px;
      &.active{
        background: #5B6677;
        a{
          font-weight: bold !important;
        }
      }
      &:hover{
        .effect-hover{
          font-weight: 600;
        }
        .effect-hover-bold{
          font-weight: 700;
        }
      }
      a {
        padding: 10px 0px;
        display: inline-block;
        font-size: 20px;
        color: #fff;
        transition: 0.2s all;
        text-transform: uppercase;
      }
      ul.sub-menu {
        margin: 0px;
        padding: 0px;
        list-style: none;
        li {
          padding: 0px 20px;
          text-align: left;
          a {
            font-size: 15px;
          }
        }
      }
      .apart{
        height: 4px;
        background: black;
      }
      &.has-child{
        position: relative;
        span{
          position: absolute;
          top: 44%;
          right: 15px;
          margin: -10px 0 0;
          cursor: pointer;
          color: white;
          font-size: 18px;
        }
      }
    }
  }

  .nd_options_section {
    width: 100%;
    float: left;
    .nd_options_navigation_2_top_header{
      background-color: $main-bg-color;
      width: 100%;
      float: left;
      @media screen and (min-width: 320px) and (max-width: 1199px){
        display: none;
      }
      .nd_options_container {
        .left-header {
          color: white;
          padding: 0px 15px;
          width: 41%;
          float: left;
          display: inline;
          box-sizing: border-box;
          .nd_options_navigation_top_header_2 {
            font-size: 13px;
            line-height: 18px;
            a img {
              border: 0;
            }
            .nd_options_display_table {
              display: table;
              margin: 16px 0px;
            }
          }
        }
        .right-header{
          color: white;
          padding: 0px 15px;
          text-align: right;
          width: 59%;
          float: left;
          display: inline;
          box-sizing: border-box;
          .nd_options_navigation_top_header_2 {
            font-size: 13px;
            line-height: 18px;
            .account-zone{
              &:hover{
                cursor: pointer;
                background-color: #4a515b;
              }
              float: right;
              display: table;
              padding: 18px 15px;
              p{
                color: white;
                font-size: 12px;
              }
              h6{
                font-size: 10px;
                text-align: left;
                margin: 0;
                p{
                  font-size: 14px;
                  position: relative;
                  top: -1px;
                }
              }
              img{
                border-radius: 100%;
                vertical-align: middle;
                display: table-cell;
                margin-right: 10px;
                border: 0;
                float: left;
                width: 32px;
                object-fit: cover;
                height: 32px;
              }
            }
            .logout{
              padding: 18px;
              &:hover{
                background-color: #4a515b;
              }
              p{
                color: white;
              }
            }
            .fullname{
                font-weight: 600;
            }
          }
        }
      }
    }
  }


  .navigation{
    background-color: #ffffff;
    border-bottom: 1px solid #f1f1f1;
    &:before{
      content: "";
      float: left;
      height: 3px;
      width: 100%;
      background: -moz-linear-gradient(left, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f76570), color-stop(8%,#f76570), color-stop(8%,#f3a46b), color-stop(16%,#f3a46b), color-stop(16%,#f3a46b), color-stop(16%,#ffd205), color-stop(24%,#ffd205), color-stop(24%,#ffd205), color-stop(24%,#1bbc9b), color-stop(25%,#1bbc9b), color-stop(32%,#1bbc9b), color-stop(32%,#14b9d5), color-stop(40%,#14b9d5), color-stop(40%,#c377e4), color-stop(48%,#c377e4), color-stop(48%,#f76570), color-stop(56%,#f76570), color-stop(56%,#f3a46b), color-stop(64%,#f3a46b), color-stop(64%,#ffd205), color-stop(72%,#ffd205), color-stop(72%,#1bbc9b), color-stop(80%,#1bbc9b), color-stop(80%,#14b9d5), color-stop(80%,#14b9d5), color-stop(89%,#14b9d5), color-stop(89%,#c377e4), color-stop(100%,#c377e4));
      background: -webkit-linear-gradient(left, #f76570 0%,#f76570 8%,#f3a46b 8%,#f3a46b 16%,#f3a46b 16%,#ffd205 16%,#ffd205 24%,#ffd205 24%,#1bbc9b 24%,#1bbc9b 25%,#1bbc9b 32%,#14b9d5 32%,#14b9d5 40%,#c377e4 40%,#c377e4 48%,#f76570 48%,#f76570 56%,#f3a46b 56%,#f3a46b 64%,#ffd205 64%,#ffd205 72%,#1bbc9b 72%,#1bbc9b 80%,#14b9d5 80%,#14b9d5 80%,#14b9d5 89%,#c377e4 89%,#c377e4 100%);
      background: -o-linear-gradient(left, #f76570 0%,#f76570 8%,#f3a46b 8%,#f3a46b 16%,#f3a46b 16%,#ffd205 16%,#ffd205 24%,#ffd205 24%,#1bbc9b 24%,#1bbc9b 25%,#1bbc9b 32%,#14b9d5 32%,#14b9d5 40%,#c377e4 40%,#c377e4 48%,#f76570 48%,#f76570 56%,#f3a46b 56%,#f3a46b 64%,#ffd205 64%,#ffd205 72%,#1bbc9b 72%,#1bbc9b 80%,#14b9d5 80%,#14b9d5 80%,#14b9d5 89%,#c377e4 89%,#c377e4 100%);
      background: -ms-linear-gradient(left, #f76570 0%,#f76570 8%,#f3a46b 8%,#f3a46b 16%,#f3a46b 16%,#ffd205 16%,#ffd205 24%,#ffd205 24%,#1bbc9b 24%,#1bbc9b 25%,#1bbc9b 32%,#14b9d5 32%,#14b9d5 40%,#c377e4 40%,#c377e4 48%,#f76570 48%,#f76570 56%,#f3a46b 56%,#f3a46b 64%,#ffd205 64%,#ffd205 72%,#1bbc9b 72%,#1bbc9b 80%,#14b9d5 80%,#14b9d5 80%,#14b9d5 89%,#c377e4 89%,#c377e4 100%);
      background: linear-gradient(to right, #f76570 0%,#f76570 8%,#f3a46b 8%,#f3a46b 16%,#f3a46b 16%,#ffd205 16%,#ffd205 24%,#ffd205 24%,#1bbc9b 24%,#1bbc9b 25%,#1bbc9b 32%,#14b9d5 32%,#14b9d5 40%,#c377e4 40%,#c377e4 48%,#f76570 48%,#f76570 56%,#f3a46b 56%,#f3a46b 64%,#ffd205 64%,#ffd205 72%,#1bbc9b 72%,#1bbc9b 80%,#14b9d5 80%,#14b9d5 80%,#14b9d5 89%,#c377e4 89%,#c377e4 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f76570', endColorstr='#c377e4',GradientType=1 );
    }
    .nd_options_grid_12{
      width: 100%;
    }
    .logo{
      top: 20px;
      position: absolute;
      left: 12px;
      border: 0;
    }
    .nav-content{
      width: 100%;
      padding: 15px;
      float: left;
      display: inline;
      box-sizing: border-box;
    }
    .nd_options_navigation_2 div > ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      text-align: right;
      float: left;
      & > li {
        display: inline-block;
        padding: 0px;
        line-height: 3.5;
        &:hover{
          & > a{
            color: #717c8c;
          }
        }
        & > a {
          transition: 0.2s ease;
        }
        &.active{
          & > a {
            font-weight: bold;
          }
        }
        .sub-menu{
          z-index: 999;
          position: absolute;
          margin: 0px;
          padding: 0px;
          list-style: none;
          display: none;
          margin-left: -20px;
          padding-top: 20px;
          width: 190px;
          padding-top: 25px;
        }
        a {
          color: #3d495a;
          font-size: 16px;
          line-height: 16px;
          font-family: Open Sans;
        }
        &:last-child{
          &:after{
            content: "";
            margin: 0px;
          }
        }
        &:after{
          content: "|";
          display: inline-block;
          margin: 0px 18px;
          color: #f1f1f1;
        }
        &.mega-menu{
          &:hover{
            .dropdown-menu{
              display: flex;
            }
          }
          .dropdown-menu{
            box-shadow: 0px 2px 5px #f1f1f1;
            margin: -1px auto 0 auto;
            right: 15px;
            border-radius: 5px;
            position: absolute;
            display: none;
            list-style-type: none;
            @media screen and (min-width: 768px) {
              left: 15px;
              padding: 10px 5px 0;
              width: 720px;
            }
            @media screen and (min-width: 992px) {
              width: 940px;
            }
            @media screen and (min-width: 1200px) {
              width: 1140px;
              top: 65px;
            }
            li{
              ul{
                padding-bottom: 15px;
                li{
                  line-height: initial;
                  &:first-child{
                    padding: 10px 12px;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 14px;
                    color: #222222;
                  }
                  a{
                    padding: 5px 12px;
                    color: #969696 !important;
                    font-size: 14px;
                    line-height: 16px;
                    width: 100%;
                    display: block;
                    background-color: transparent !important;
                    transition: 0.2s all;
                    font-weight: 600;
                    &:hover{
                      background-color: whitesmoke !important;
                      color: $main-bg-color !important;
                    }
                  }
                }
              }
            }
          }
        }
        &:hover{
          ul.sub-menu{
            display: block;
            list-style: none;
            li{
              padding: 0px 20px;
              border-bottom: 1px solid #f1f1f1;
              text-align: left;
              background-color: #fff;
              position: relative;
              box-shadow: 0px 2px 5px #f1f1f1;
              float: left;
              width: 100%;
              box-sizing: border-box;
              &:hover{
                background-color: #f9f9f9;
              }
              a{
                font-size: 14px;
                color: #5e6d81;
                float: left;
                width: 100%;
                line-height: 4.5rem;
              }
            }
          }
        }
      }
    }
  }

  .access-location{
    line-height: 3.3;
    display: table;
    padding-left: 30px;
    i {
      color: rgb(234, 67, 53);
      font-size: 23px;
      position: relative;
      top: 3px;
    }
  }

  .nd_options_recommend {
    line-height: initial !important;
    position: relative;
    width: 40px;
    .count-location{
      position: absolute;
      color: white;
      background: $main-bg-color;
      padding: 3px 7px;
      border-radius: 50%;
      top: -14px;
      right: -15px;
      z-index: 9;
      font-size: 13px;
    }
    .recommend-container{
      position: absolute;
      top: -9px;
      left: 0;
    }
    // a{
    //   color: #fff !important;
    //   text-transform: uppercase;
    //   font-size: 11px !important;
    //   padding: 0px 15px;
    //   letter-spacing: 2px;
    //   border-bottom-width: 0px !important;
    //   line-height: 27px !important;
    // }
  }

  .icon-menu{
    width: 25px;
  }

  .search-box{
    .icon-search-container {
      top: 9px;
      display: inline-block;
      border: 2px solid #d9d9d9;
      border-radius: 50px;
      height: 35px;
      width: 35px;
      position: relative;
      transition: width 0.2s ease-out;
      margin-right: 15px;
      // backface-visibility: hidden;

      &.active {
        width: 230px;

        .fa-times-circle {
          opacity: 1;
        }
        .search-input {
          width: 170px;
        }
      }
      .fa-search {
          color: #2980b9;
          font-size: 30px;
          position: absolute;
          top: 6px;
          left: 10px;
          cursor: pointer;
          z-index: 1;
      }
      .fa-times-circle {
          opacity: 0;
          color: #d9d9d9;
          font-size: 17px;
          position: absolute;
          top: 7px;
          right: 6px;
          transition: opacity 0.2s ease-out;
          cursor: pointer;
      }
      .search-input {
          color: white;
          position: absolute;
          left: 35px;
          top: 0px;
          width: 0;
          padding: 5px;
          border: none;
          outline: none;
          font-size: 15px;
          line-height: 20px;
          background-color: rgba(255, 255, 255, 0);
          transition: width 0.2s ease-out;
      }
    }
  }

  .search-box-responsive{
    padding-top: 15px;
    .icon-search-container {
      top: 9px;
      display: inline-block;
      border: 2px solid #d9d9d9;
      border-radius: 50px;
      height: 35px;
      width: 35px;
      position: relative;
      transition: width 0.2s ease-out;
      // backface-visibility: hidden;

      &.active {
        width: 200px;
        .search-input {
          width: 170px;
        }
      }
      .fa-search {
          color: #2980b9;
          font-size: 30px;
          position: absolute;
          top: 6px;
          left: 8px;
          cursor: pointer;
          z-index: 1;
      }
      .search-input {
          color: white;
          position: absolute;
          left: 35px;
          top: 0px;
          width: 0;
          padding: 5px;
          border: none;
          outline: none;
          font-size: 15px;
          line-height: 20px;
          background-color: rgba(255, 255, 255, 0);
          transition: width 0.2s ease-out;
      }
    }
  }
  .row-center{
    align-items: center;
    margin: 0 !important;
  }
  .logo-sticky{
    padding-top: 3px;
  }
  .toggle-menu{
    // @media screen and (max-width: 576px) {
    //   position: relative;
    //   left: 10px;
    // }
  }
  .mobile-logo-container{
    @media screen and (min-width: 577px) and (max-width: 1024px) {
      text-align: center !important;
    }
    .mobile-logo{
      // @media screen and (max-width: 576px) {
      //   position: relative;
      //   left: 10px;
      // }
    }
  }
}

.multi-mobile{
  @media screen and (min-width: 576px) {
    display: flex;
    justify-content: center;
  }
}

.multi-lng, .multi-lng-mobile{
  // margin: 0px 10px 0px 15px;
  position: relative;
  line-height: 4;
  float: none;
  @media screen and (min-width: 1024px) {
    float: right;
  }
  display: table;
  padding-bottom: 3px;
  @media screen and (max-width: 1112px) {
    padding-bottom: 0;
    line-height: 3;
  }
  a{
    line-height: 4;
    margin: 0 10px;
    padding: 20px 0px;
  }
  &:hover{
    @media screen and (min-width: 1113px) {
      background-color: #4a515b;
    }
  }
  button{
    &:focus{
      box-shadow: none;
    }
    border: 0;
    width: 90px;
    padding: 0 10px;
    color: white;
    padding-bottom: 4px;
    img{
      max-width: 36%;
      @media screen and (max-width: 1112px) {
        max-width: 45%;
      }
    }
    span{
      font-size: 13px;
      position: relative;
      top: 2px;
      text-transform: uppercase;
    }
    &:after{
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 0em;
      vertical-align: middle;
      content: "";
      border-top: .4em solid;
      border-right: .4em solid transparent;
      border-left: .4em solid transparent;
      @media screen and (max-width: 1112px) {
        color: $main-bg-color;
      }
    }
  }
  .dropdown-menu{
    font-size: .8125rem;
    border-radius: 0;
    border: none;
    box-shadow: 0 0 14px 4px rgba(0,0,0,.1);
    min-width: 6rem;
    padding: 0;
    top: 98% !important;
    position: absolute;
    left: 0;
    @media screen and (max-width: 1112x) {
      left: 18%;
    }
    z-index: 1000;
    float: left;margin: .125rem 0 0;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    &.show{
      display: block;
    }
    .wrapper-dropdown-item{
      &:hover{
        background-color: #F7F7F9;
      }
    }
    .dropdown-item{
      cursor: pointer;
      font-weight: 700;
      padding: 10px 15px;
      padding-left: 0;
      display: block;
      line-height: 1;
      width: 100%;
      clear: both;
      text-align: inherit;
      white-space: nowrap;
      background: 0 0;
      border: 0;
      img{
        max-width: 48%;
      }
      span{
        font-size: 1.2rem;
        position: relative;
        top: 3px;
        left: 4px;
        text-transform: uppercase;
      }
    }
  }
}

.multi-lng-mobile{
  @media screen and (min-width: 1024px) {
    float: none
  }
}
