@import 'styles/variables.scss';

.promotion-item{
  padding: 15px;
  .wrapper-item{
    border: 1px solid #f1f1f1;
    background-color: #fff;
    .content-item{
      position: relative;
      overflow: hidden;
      .contain-price{
        cursor: pointer;
        color: #a4a4a4;
        top: 0;
        left: 0;
        position: absolute;
        padding: 10px 20px;
        background-color: #fff;
        span{
          color: $main-bg-color;
        }
      }
      img{
        height: 250px;
        object-fit: cover;
        width: 100%;
      }
      .discount-price{
        text-decoration: line-through;
      }
      .discount-mark{
        background-color: #434a54;
        right: -70px;
        top: 20px;
        position: absolute;
        text-align: center;
        transform: rotate(45deg);
        width: 200px;
        color: #fff !important;
      }
    }
    .name-item{
      a{
        cursor: pointer;
        color: #a4a4a4;
        &:hover{
          h3{
            background: #5d6572;
          }
        }
        h3{
          padding: 20px;
          font-weight: 600;
          color: white;
          font-size: 18px;
          line-height: 20px;
          background-color: #434a54;
          transition: 0.2s ease;
          &.purple{
            background-color: #C17FDE;
          }
          &.orange{
            background-color: #F4AD7A;
          }
          &.red{
            background-color: #F8757F;
          }
          &.yellow{
            background-color: #FFD71E;
          }
          &.blue{
            background-color: #2CC0D9;
          }
          &.green{
            background-color: #32C3A5;
          }
          p{
            color: white;
            font-size: 13px;
            margin-top: 15px;
            display: inline-block;
          }
        }
      }
    }
    .description-item{
      padding: 20px;
      box-sizing: border-box;
      p{
        color: #777;
        font-size: 14px;
        line-height: 27px;
        margin-bottom: 20px;
      }
      a{
        color: #777;
        cursor: pointer;
        border: 1px solid #f1f1f1;
        display: inline-block;
        border-radius: 0px !important;
        background: white;
        padding: 10px 20px;
        font-size: 14px;
        line-height: 27px;
        &:hover, &:focus{
          background: #fbfbfb;
        }
      }
    }
  }
}
