@import 'styles/variables.scss';

.middle{
  padding-top: 138px;
  @media screen and (max-width: 1112px){
    padding-top: 91px;
  }
  @media screen and (max-width: 576px){
    padding-top: 88px;
  }
  .contain{
    padding: 0px 15px;
    box-sizing: border-box;
    .page-content{
      float: left;
      width: 100%;
      .top-promotion, .our-destination{
        margin-top: 60px;
        .top-promotion-title, .our-destination-title{
          h1{
            font-size: 30px;
            line-height: 30px;
            color: $main-title-color;
          }
          h3{
            color: #a4a4a4;
            font-size: 20px;
            line-height: 20px;
          }
          .underline-title{
            height: 4px;
            width: 80px;
            background-color: #f1f1f1;
            display: inline-block;
          }
        }
      }
      .top-promotion-item{
        margin-top: 10px;

      }
      .our-destination-item{
        margin-top: 30px;
        .destination-item{
          padding: 15px;
          .destination-item-contain{
            border: 1px solid #f1f1f1;
            background-color: #fff;
            .content{
              position: relative;
              .title-item{
                top: 0px;
                left: 0px;
                position: absolute;
                text-align: center;
                width: 100%;
                a{
                  color: #a4a4a4;
                  text-transform: uppercase;
                  display: inline-block;
                  background-color: #fff;
                  padding: 10px 20px;
                  text-align: center;
                }
              }
            }
          }
        }
      }
      .show-more-area{
        margin: 30px 0 40px;
        .show-more{
          cursor: pointer;
          background-color: #434a54;
          padding: 15px 40px;
          font-size: 16px;
          color: #ffffff;
          transition: 0.2s ease;
          display: inline-block;
          margin: auto;
          &:hover{
            background: #5d6572;
          }
        }
      }

    }
  }
  .parallax-area{
    position: relative;
    left: -15.5px;
    box-sizing: border-box;
    padding-left: 100.5px;
    padding-right: 74.5px;
    transition: opacity 0.5s ease;
    overflow: hidden;
    margin-top: 50px !important;
    padding-top: 80px !important;
    padding-bottom: 80px !important;
    .parallax-item{
      padding-left: 0;
      padding-right: 0;
      & > *{
        position: relative;
        z-index: 1;
      }
      .inner{
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        padding-top: 0;
        .wrapper{
          h1{
            color: #ffffff;
            text-align: center;
            font-size: 45px;
            font-weight: normal;
            line-height: 30px;
          }
          a{
            line-height: 15px;
            font-size: 15px;
            padding: 8px 12px;color: #ffffff;
            display: inline-block;
            font-weight: normal;
            &.yellow-bg{
              background-color: #ffd205;
            }
            &.green-bg{
              background: #1bbc9b;
            }
            &.red-bg{
              background: #f76570;
            }
          }
        }
      }
    }

    .vc_parallax-inner{
      pointer-events: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      background-attachment: fixed;
      background-color: transparent;
      background-image: inherit;
      background-size: cover;
      z-index: 0;
      background-position: 50% 0%;
      height: 150%;
      background-image: url("/static/images/parallax-3.jpg");
      top: -50%;
      &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(101, 100, 96, 0.3);
        left: 0px;
      }
    }
  }
  .box {
      margin: 50px auto 0 auto;
      // @media screen and (min-width: 767px) {
      //   margin: -60px auto 0 auto;
      // }
      // @media screen and (min-width: 991px) {
      //   margin: -80px auto 0 auto;
      // }
      .testimonial-container{
        width: calc(100% - 32px);
        margin: 24px auto;
        flex-direction: column;
        text-align: center;
        max-width: 1000px;
        overflow: hidden;
        border-radius: 4px;
        display: flex !important;
        align-items: stretch;
        justify-content: stretch;
        .avatar{
          margin: 0 auto;
          min-width: 72px;
          max-width: 72px;
          height: 72px;
          width: 48px;
          display: inline-block;
          position: relative;
          overflow: hidden;
          border-radius: 50%;
          img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: auto;
            min-height: 100%;
          }
          &:after{
            content: "";
            border: 1px solid;
            border-color: #636363;
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% - 1px);
            height: calc(100% - 1px);
            opacity: 0.2;
          }
        }
        .comment{
          margin-top: 20px;
          font-size: 22px;
          font-weight: 400;
          line-height: 30px;
          .rating-contain{
            justify-content: center;
            display: flex;
            margin-bottom: 12px;
            position: relative;
            z-index: 1;
          }
          .comment-content{
            &:before, &:after{
              content: '"';
            }
          }
        }
        .author{
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center;
          margin-top: 20px;
          max-width: 100%;
          .info{
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            h3{
              display: inline-flex;
              align-items: center;
              color: black;
              transition: 0.3s all ease-out;
              font-weight: 600;
            }
          }
        }
      }
      .user-feedback{
        margin-top: 60px;
        .user-feedback-title{
          h1{
            font-size: 30px;
            line-height: 30px;
            color: $main-title-color;
          }
          h3{
            color: #a4a4a4;
            font-size: 20px;
            line-height: 20px;
          }
          .underline-title{
            height: 4px;
            width: 80px;
            background-color: #f1f1f1;
            display: inline-block;
          }
        }
      }
  }

  .banner{
  	height: auto;
  	width: 100%;
  }
  .banner img{
  	width: 100%;
  	height: 100%;
  	// object-fit: contain;
  }
}
