@import 'styles/variables.scss';

.middle{
  padding-top: 137px;
  @media screen and (max-width: 1112px){
    padding-top: 91px;
  }
  @media screen and (max-width: 576px){
    padding-top: 88px;
  }
  .content-title{
    background-size: cover;
    background-position: center;
    background-image: url('/static/images/p-14.jpg');
    .overlay{
      background-color: rgba(67, 74, 84, 0.3);
      .title-contain{
        box-sizing: border-box;
        padding: 15px;
        text-align: center;
        h1{
          font-weight: normal;
          color: #fff !important;
          font-size: 30px;
          line-height: 30px;
          span{
            display: block;
            font-weight: bold;
          }
          .underline{
            display: inline-block;
            background-color: #ffffff;
            width: 80px;
            height: 4px;
          }
        }
      }
    }
  }
  .content{
    padding: 0px 15px;
    box-sizing: border-box;
    margin-top: 50px;
    .underline-zone{
      line-height: 0;
      .underline{
        height: 3px;
        width: 50px;
        margin-bottom: 10px;
        background-color: #f1f1f1;
        display: inline-block;
        line-height: 0px;
      }
    }
    .wizard-step-zone{
      margin-bottom: 50px;
    }
    .book-info{
      box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
      width: 100%;
      margin-bottom: 0;
      .img-zone{
        position: relative;
        img{
          width: 100%
        }
        .sale{
          top: 20px !important;
          right: 20px !important;
          left: initial !important;
          margin: -.5em -.5em 0 0;
          border-radius: 0px;
          min-width: initial;
          min-height: initial;
          padding: 8px;
          line-height: 13px;
          font-size: 13px;
          text-transform: uppercase;
          font-weight: normal;
          background-color: #1bbc9b;
          position: absolute;
          text-align: center;
          color: #fff;
          z-index: 9;
        }
      }
      .info-area{
        padding: 20px;
        background-color: whitesmoke;
        border-radius: 0 0 4px 4px;
        h3{
          margin-bottom: 15px;
          font-size: 16px;
          color: $main-bg-color;
          text-transform: capitalize;
          font-weight: 400;
          a{
            color: $main-bg-color;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 26px;
            cursor: pointer;
          }
        }
        ul{
          margin-bottom: 20px;
          padding-left: 0;
          list-style: none;
          li{
            padding: 7px 0;
            border-bottom: 0;
            font-size: 14px;
            color: #222222;
            span{
              font-weight: 600;
              color: #000;
            }
            i{
              margin-right: 5px;
              position: relative;
              top: -1px;
            }
          }
        }
        .price-total{
          h2{
            text-transform: capitalize;
            color: #222222;
            font-size: 22px;
            font-weight: 400;
            span{
              color: #ff891e;
              font-size: 23px;
              font-weight: 700;
            }
          }
        }
      }
    }
    .payment-wrap{
      margin-top: 0;
      margin-bottom: 30px;
      .title{
        float: none;
        margin: 10px 0;
        width: 100%;
        h3{
          margin: 0;
          text-transform: uppercase;
          color: #262a2e;
          font-weight: 700;
          font-size: 24px;
        }
      }
      .custom-input{
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        outline: 0;
        line-height: 1;
        background-color: #f3f3f3;
        border-width: 1px;
        border-color: #f1f1f1;
        border-radius: 0px;
        border-style: solid;
        padding: 10px 20px;
        -webkit-appearance: none;
        color: #2d2d2d;
        &.error{
          border-color: red;
        }
      }
      .button-area{
        text-align: center;
        padding: 60px 0;
        img{
          margin-left: 100px;
        }
        @media screen and (max-width: 576px){
          padding: 20px 0;
        }
        width: 100%;
        display: block;
        .list-inline{
          padding-left: 0;
          margin-left: -5px;
          list-style: none;
          li{
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px;
          }
        }
      }
    }
    .pull-right{
      float: right;
    }
    .caption-text{
      margin-top: 32px;
      color: #000;
      font-size: 14px;
      // font-style: italic;
    }
    .error{
      color: red;
      display: block;
      margin-top: 2px;
      margin: 5px 0;
    }
  }
  .note_radio{
    font-style: italic;
    margin-top: 10px;
  }
  .question{
    label{
      span{
        position: relative;
        top: -1px;
        margin-left: 10px;
      }
    }
  }
}
