@import 'styles/variables.scss';

.tour-item{
  margin-bottom: 25px;
  position: relative;
  .sale{
    top: 20px !important;
    right: 20px !important;
    left: initial !important;
    margin: -.5em -.5em 0 0;
    border-radius: 0px;
    min-width: initial;
    min-height: initial;
    padding: 8px;
    line-height: 13px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: normal;
    background-color: #1bbc9b;
    position: absolute;
    text-align: center;
    color: #fff;
    z-index: 9;
  }
  .discount-price{
    text-decoration: line-through;
    color: #a4a4a4;
  }
  img{
    margin-bottom: 10px;
    height: 255px;
  }
  h2{
    font-size: 18px;
    line-height: 20px;
    padding: 10px 0px;
    font-weight: 600;
    color: $main-bg-color;
    min-height: 60px;
  }
  p{
    color: $main-bg-color;
    margin-bottom: 10px;
  }
  .price{
    color: $main-bg-color;
    font-size: 16px !important;
    line-height: 16px !important;
    margin-top: 20px;
    display: block;
    font-weight: 600;
    margin-bottom: .5em;
  }
  .action{
    margin-top: 20px;
  }
  .button {
    margin-top: 1em;
    margin: 0;
    cursor: pointer;
    position: relative;
    left: auto;
    overflow: visible;
    padding: .618em 1em;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    font-size: 13px;
    line-height: 13px;
    color: $main-bg-color;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0px;
    border: 1px solid #bbb;
    background-color: #fff;
    &:hover{
      background: #f6f6f6b3;
    }
  }
}
