@import 'styles/variables.scss';

.booked-item{
  margin: 0 0 25px;
  padding: 15px;
  position: relative;
  border: 1px solid silver;
  border-radius: 5px;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: box-shadow;
  &:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  }
  .discount-price{
    text-decoration: line-through;
    color: #a4a4a4;
  }
  h2{
    font-size: 16px;
    line-height: 20px;
    padding: 10px 20px;
    font-weight: 600;
    color: $main-bg-color;
    background: #1BBC9B;
    color: white;
    display: inline-block;
    @media screen and (max-width: 576px){
      font-size: 15px;
      padding: 5px 15px;
    }
  }
  p{
    color: $main-bg-color;
    margin-bottom: 10px;
  }
  .price{
    color: $main-bg-color;
    font-size: 16px !important;
    line-height: 16px !important;
    margin-top: 20px;
    display: block;
    font-weight: 600;
    margin-bottom: .5em;
  }
  .detail-info{
    margin-top: 20px;
    p{
      span{
        font-weight: 600;
      }
      i{
        position: relative;
        top: -1px;
        margin-right: 5px;
      }
    }
    .btn-zone{
      margin-top: 10px;
    }
    .detail-btn{
      display: inline-block;
      padding: 5px 15px;
      color: #fff;
      background-color: #337ab7;
      margin-right: 20px;
      text-align: center;
      &:hover{
        opacity: 0.8;
        outline: 0;
      }
    }
    .cancel-btn{
      display: inline-block;
      padding: 5px 15px;
      color: #fff;
      background: #D9534F;
      text-align: center;
      &:hover{
        opacity: 0.8;
        outline: 0;
      }
    }
  }
  .featured_img{
    position: relative;
    img{
      height: 230px;
      width: 100%;
    }
    @media screen and (max-width: 1024px){
      margin-bottom: 20px;
    }
    .sale{
      top: 20px !important;
      right: 30px !important;
      left: initial !important;
      margin: -.5em -.5em 0 0;
      border-radius: 0px;
      min-width: initial;
      min-height: initial;
      padding: 8px;
      line-height: 13px;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: normal;
      background-color: #1bbc9b;
      position: absolute;
      text-align: center;
      color: #fff;
      z-index: 9;
    }
  }
}
