.sitemap {
    margin: 0px 0px 20px 0px;

    @media screen and (max-width: 1010px){
      margin: 0;
      margin-bottom: 15px;
      margin-left: -5px;
      &.fix-margin {
          margin-top: 0px;
      }
    }
    ul {
        padding-left: 0;
    }
    li {
        display: inline-block;
        a {
            &.current {
                opacity: 0.7;
            }
            &:hover {
                opacity: 0.8;
            }
        }
    }
    span {
        display: inline-block;
        margin: 0px 5px;
    }
}
