@import 'styles/variables';

.profile-detail {
  .content{
    margin-top: 20px;
  }
  .title{
    @media screen and (max-width: 767px){
      margin-top: 50px;
    }
    .my-profile__title{
      font-weight: 600;
    }
  }
  .table-responsive{
    overflow-y: auto;
    max-height: 225px;
    @media screen and (max-width: 767px){
      width: 100%;
      margin-bottom: 15px;
      border: 1px solid #ddd;
    }
  }
  table{
    thead{
      th{
        border-bottom: 1px solid #ddd;
        border-top: 0;
        vertical-align: bottom;
        padding: 8px;
        line-height: 1.42857143;
      }
      @media screen and (max-width: 767px){
        th{
          white-space: nowrap;
        }
      }
    }
    tbody{
      td{
        @media screen and (max-width: 767px){
          white-space: nowrap;
        }
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
        a{
          transition: all 0.3s ease-in-out;
          color: #ff891e;
          &:hover, &:focus{
            opacity: 0.8;
            outline: 0;
            color: #23527c;
          }
        }
        &.action{
          &.danger{
            a{
              background: #D9534F;
            }
          }
          a{
            display: inline-block;
            padding: 3px 9px;
            color: #fff;
            background-color: #337ab7;
            &:hover{
              opacity: 0.8;
              outline: 0;
            }
          }
        }
        &.code{
          a{
            font-weight: bold;
          }
        }
      }
    }
  }
}
