@import 'styles/variables.scss';

.middle{
  padding-top: 137px;
  @media screen and (max-width: 1112px){
    padding-top: 91px;
  }
  @media screen and (max-width: 576px){
    padding-top: 88px;
  }
  .content-title{
    background-size: cover;
    background-position: center bottom;
    background-image: url('/static/images/p-16.jpg');
    .overlay{
      background-color: rgba(67, 74, 84, 0.3);
      .title-contain{
        box-sizing: border-box;
        padding: 15px;
        text-align: center;
        h1{
          font-weight: normal;
          color: #fff !important;
          font-size: 30px;
          line-height: 30px;
          span{
            display: block;
            font-weight: bold;
          }
          .underline{
            display: inline-block;
            background-color: #ffffff;
            width: 80px;
            height: 4px;
          }
        }
      }
    }
  }
  .content{
    margin-top: 50px;
    .box-img{
      position: relative;
      margin-top: 20px;
      &.responsive{
        @media screen and (max-width: 767px){
          margin-top: 40px !important;
        }
      }
      img{
        width: 100%;
      }
      .box-title{
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to bottom, rgba(101,100,96,0) 0%,rgba(101,100,96,0.65) 100%);
        z-index: 2;
        width: 100%;
        height: 100%;
        color: white;
        .title{
          z-index: 1;
          bottom: 30px;
          position: absolute;
          box-sizing: border-box;
          width: 100%;
          text-align: center;
          h3{
            font-size: 20px;
            line-height: 20px;
            @media screen and (max-width: 768px){
              font-size: 18px;
            }
          }
          p{
            color: white;
            font-size: 14px;
            @media screen and (max-width: 768px){
              font-size: 13px;
            }
          }
        }
      }
    }
    .about{
      @media screen and (min-width: 576px) and (max-width: 768px){
        padding: 0 30px;
      }
    }
    .services{
      @media screen and (min-width: 576px) and (max-width: 768px){
        padding: 0 30px;
      }
      img{
        top: 10px;
        left: 0;
        position: absolute;
        width: 50px;
      }
      .service-contain{
        margin: 25px 0 50px;
      }
      .service-item{
        padding-left: 70px;
        p{
          margin: 0px 0px 15px 0px;
          color: #878787;
          font-size: 14px;
          line-height: 24px;
        }
        a{
          font-size: 11px;
          line-height: 11px;
          border-radius: 0px;
          border: 0px solid #ffffff;
          padding: 8px 12px;
          color: #ffffff;
          &.purple{
            background-color: #C17FDE;
          }
          &.orange{
            background-color: #F4AD7A;
          }
          &.red{
            background-color: #F8757F;
          }
          &.yellow{
            background-color: #FFD71E;
          }
          &.blue{
            background-color: #2CC0D9;
          }
          &.green{
            background-color: #32C3A5;
          }
        }
      }
    }
  }
  .parallax-area{
    position: relative;
    left: 15px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 74.5px;
    padding-right: 74.5px;
    transition: opacity 0.5s ease;
    overflow: hidden;
    margin-top: 60px !important;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    & > *{
      position: relative;
      z-index: 1;
    }
    .inner{
      padding-top: 0px;
      box-sizing: border-box;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      .parallax-title{
        padding-left: 80px;
        @media screen and (max-width: 576px){
          padding-left: 40px;
        }
        h1{
          font-size: 40px;
          color: white;
          line-height: 50px;
          strong{
            font-weight: normal;
          }
        }
      }
      .inner-statistic{
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        .wrapper-statistic{
          @media screen and (max-width: 768px){
            margin-top: 30px;
          }
        }
        h1{
          text-align: center;
          color: #ffffff;
          font-size: 50px;
        }
        p{
          color: #ffffff;
          text-align: center;
          font-size: 15px;
          line-height: 30px;
          letter-spacing: 1px;
          font-weight: normal;
        }
      }
    }
    .vc_parallax-inner{
      height: 150%;
      background-image: url(/static/images/p-9.jpg);
      pointer-events: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      background-attachment: fixed;
      background-color: transparent;
      background-size: cover;
      z-index: 0;
      background-position: 50% 0%;
      &:after{
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(101,100,96,0.1) 0%,rgba(101,100,96,0.6) 60%,rgba(101,100,96,0.8) 100%);
      }
    }
  }
}
