@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'styles/fonts.scss';
@import 'styles/variables.scss';

html {
  font-size: 10px;
}

body {
  min-width: 360px;
  font-size: 1.4rem;
  font-family: $font-family;
  line-height: 1.5;
  letter-spacing: 1px;
}

dd,
dt {
  line-height: 1.5;
}

body,
html {}

a:hover {
  text-decoration: none;
  color: inherit;
}

a {
  color: inherit;
  cursor: pointer;
}

a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}

a.pointer {
  cursor: pointer;
  color: $active-color;

  &:hover {
    color: $active-color!important;
  }
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  border: none;
}

p {
  margin: 0;
  color: $text-color;
}

.example-appear {
   opacity: 0.01;
}
.example-appear.example-appear-active {
   opacity: 1;
   transition: opacity 500ms ease-in;
}

.bold{
  font-weight: bold;
}

.tour-list{
  margin-top: 10px;
  .tour-item{
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0;
    a{
      &:hover{
        color: #757575;
      }
      cursor: pointer;
    }
    .display-tour{
      z-index: 99;
      padding: 7px;
      position: relative;
      top: -1px;
    }
  }
}


.section {
  margin: 0 0 100px;
}

.no-padding {
  padding: 0;
}

.nd_options_cursor_pointer {
  cursor: pointer;
}

.nd_options_top_20 {
  top: 20px;
}

.nd_options_right_20 {
  right: 20px;
}

.nd_options_position_absolute {
  position: absolute;
}

.nd_options_margin_right_10 {
  margin-right: 10px;
}

.nd_options_margin_right_20 {
  margin-right: 20px;
}

.nd_options_margin_left_10 {
  margin-left: 10px;
}

.nd_options_float_left {
  float: left;
}

.nd_options_float_right {
  float: right;
}

.nd_options_display_table {
  display: table;
}

.nd_options_display_table_cell {
  display: table-cell;
}

.nd_options_vertical_align_middle {
  vertical-align: middle;
}

.nd_options_clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.nd_options_line_height_0 {
  line-height: 0px;
}

.nd_options_height_5 {
  height: 5px;
}

.nd_options_height_20 {
  height: 20px;
}

.nd_options_height_10 {
  height: 10px;
}

.nd_options_height_50 {
    height: 50px;
}

.nd_options_height_110{
  height: 110px;
}

.nd_options_position_relative {
  position: relative;
}

.nd_options_text_align_right {
  text-align: right;
}

.nd_options_container {
  width: 1200px;
  margin: auto;
  padding: 0px;
  @media screen and (min-width: 960px) and (max-width: 1199px){
    width: 960px;
  }
  @media screen and (min-width: 768px) and (max-width: 959px){
    width: 748px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px){
    width: 460px;
  }
  @media screen and (min-width: 320px) and (max-width: 479px){
    width: 300px;
  }
  @media screen and (max-width: 320px){
    margin-right: 50px
  }
}

.nd_options_dnone_responsive {
  @media screen and (min-width: 320px) and (max-width: 1199px){
    display: none !important;
  }
}

.nd_options_display_block_responsive {
  @media screen and (min-width: 320px) and (max-width: 1199px){
    display: block !important;
  }
}

.nd_options_navigation_2_sticky_move_down{
  margin-top: 0px;
}

.sticky_nav{
  transition: all 0.8s ease;
  position: fixed;
  z-index: 999;
}

.sticky_move_up{
  margin-top: -220px;
}

.sticky_move_down{
  margin-top: 0px;
}

.info-box{
  padding: 20px 15px;
  background: white;
  position: relative;
  overflow: auto;
  max-height: 40vh;
  .info-content{
    padding-bottom: 20px;
    img{
      width: 70%;
      max-width: 100% !important;
      margin-bottom: 10px;
    }
    p{
      font-size: 15px;
      margin-bottom: 5px;
      a{
        cursor: pointer;
        color: $main-bg-color;
        font-weight: bold;
      }
    }
  }
}

.custom-map{
  height: 100vh;
  @media screen and (max-width: 767px){
    height: 80vh;
  }
}

.map-content{
  .hide-tour{
    cursor: pointer;
    position: absolute;
    top: 81%;
    @media screen and (max-width: 991px){
      top: 87%;
    }
    @media screen and (max-width: 767px){
      top: 61%;
    }
    right: 10px;
    padding: 10px;
    background: white;
    color: #666666 !important;
    &:hover{
      color: #000 !important;
    }
  }
}

.gm-style .gm-style-iw-c{
  padding-right: 25px !important;
  width: 450px !important;
}

.gm-ui-hover-effect{
  top: -4px !important;
  right: -4px !important;
  width: 32px !important;
  height: 32px !important;
  img{
    width: 18px !important;
    height: 18px !important;
  }
}
