@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'styles/fonts.scss';
@import 'styles/variables.scss';
@import 'styles/react-range-slider.scss';
@import 'styles/react-table.scss';
@import 'styles/react-calendar.scss';
/* REQUIRED */
@import 'node_modules/pretty-checkbox/src/scss/_variables';

@import 'node_modules/pretty-checkbox/src/scss/core';

/* OPTIONALS */
@import 'node_modules/pretty-checkbox/src/scss/elements/default/outline';
@import 'node_modules/pretty-checkbox/src/scss/elements/default/thick';

@import 'node_modules/pretty-checkbox/src/scss/extras/curve';
@import 'node_modules/pretty-checkbox/src/scss/extras/animation';
@import 'node_modules/pretty-checkbox/src/scss/extras/disabled';
@import 'node_modules/pretty-checkbox/src/scss/extras/colors';

@import 'node_modules/pretty-checkbox/src/scss/states/hover';
@import 'node_modules/pretty-checkbox/src/scss/states/focus';
@import 'node_modules/pretty-checkbox/src/scss/states/indeterminate';

@import "node_modules/slick-carousel/slick/slick.scss";
@import "node_modules/slick-carousel/slick/slick-theme.scss";

@import 'styles/wp.scss';

html {
  font-size: 10px;
}

body {
  min-width: 360px;
  font-size: 1.4rem;
  font-family: $font-family;
  line-height: 1.5;
  letter-spacing: 1px;
}

dd,
dt {
  line-height: 1.5;
}

body,
html {}

a:hover {
  text-decoration: none;
  color: inherit;
}

a {
  color: inherit;
  cursor: pointer;
}

a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}

a.pointer {
  cursor: pointer;
  color: $active-color;

  &:hover {
    color: $active-color!important;
  }
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  border: none;
}

p {
  margin: 0;
  color: $text-color;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $main-bg-color;
} /* this will style the thumb, ignoring the track */

.co-btn{
  font-size: 100%;
  line-height: 1;
  position: relative;
  text-decoration: none;
  overflow: visible;
  font-weight: 700;
  left: auto;
  border: 0;
  display: inline-block;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  border-width: 0px;
  border-style: solid;
  width: 100%;
  padding: 15px 20px;
  -webkit-appearance: none;
  cursor: pointer;
  background-color: $main-bg-color;
  border-radius: 0px;
  text-transform: uppercase;
  font-family: 'Open Sans',sans-serif;
  color: #fff !important;
  margin-top: 10px;
  transition: 0.2s ease-in-out;
  &:hover{
    background: #5a6069 !important;
  }
  &.green{
    background: #1BBC9B;
    &:hover{
      background: #1AAB8D !important;
    }
  }
  &.silver{
    background: silver;
    &:hover{
      background: silver !important;
    }
  }
  &.disabled{
    background-color: #8c8c8c !important;
  }
}

.example-appear {
   opacity: 0.01;
}
.example-appear.example-appear-active {
   opacity: 1;
   transition: opacity 500ms ease-in;
}

.bold{
  font-weight: bold;
}

.tour-list{
  margin-top: 10px;
  .tour-item{
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0;
    a{
      &:hover{
        color: #757575;
      }
      cursor: pointer;
    }
    .display-tour{
      z-index: 99;
      padding: 7px;
      position: relative;
      top: -1px;
    }
  }
}

.underline-popup{
  display: inline-block;
  background-color: #212529;
  width: 80px;
  height: 4px;
}

.popup-title-filter{
  margin-bottom: 30px;
}

.caption{
  font-style: italic;
  color: grey;
  text-align: left;
  margin-top: 20px;
  .show-all{
    color: #0659ff !important;
    &:hover{
      text-decoration: underline !important;
    }
  }
}

.section {
  margin: 0 0 100px;
}

.no-padding {
  padding: 0 !important;
}

.no-margin{
  margin: 0 !important;
}

.nd_options_cursor_pointer {
  cursor: pointer;
}

.nd_options_top_20 {
  top: 20px;
}

.nd_options_right_20 {
  right: 20px;
}

.nd_options_position_absolute {
  position: absolute;
}

.nd_options_margin_right_10 {
  margin-right: 10px;
}

.nd_options_margin_right_20 {
  margin-right: 20px;
}

.nd_options_margin_left_10 {
  margin-left: 10px;
}

.nd_options_float_left {
  float: left;
}

.nd_options_float_right {
  float: right;
}

.nd_options_display_table {
  display: table;
}

.nd_options_display_table_cell {
  display: table-cell;
}

.nd_options_vertical_align_middle {
  vertical-align: middle;
}

.nd_options_clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.nd_options_line_height_0 {
  line-height: 0px;
}

.nd_options_height_5 {
  height: 5px;
}

.nd_options_height_20 {
  height: 20px;
}

.nd_options_height_30 {
  height: 30px;
}

.nd_options_height_10 {
  height: 10px;
}

.nd_options_height_40 {
    height: 40px;
}

.nd_options_height_50 {
    height: 50px;
}

.nd_options_height_90{
  height: 90px;
}

.nd_options_height_110{
  height: 110px;
}

.nd_options_position_relative {
  position: relative;
}

.nd_options_text_align_right {
  text-align: right;
}

.nd_options_container {
  width: 1200px;
  margin: auto;
  padding: 0px;
  @media screen and (min-width: 960px) and (max-width: 1199px){
    width: 960px;
  }
  @media screen and (min-width: 768px) and (max-width: 959px){
    width: 748px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px){
    width: 460px;
  }
  @media screen and (min-width: 320px) and (max-width: 479px){
    width: 300px;
  }
}

.nd_options_dnone_responsive {
  @media screen and (min-width: 320px) and (max-width: 1199px){
    display: none !important;
  }
}

.nd_options_display_block_responsive {
  @media screen and (min-width: 320px) and (max-width: 1199px){
    display: block !important;
  }
}

.nd_options_navigation_2_sticky_move_down{
  margin-top: 0px;
}

.sticky_nav{
  transition: all 0.8s ease;
  position: fixed;
  z-index: 999;
}

.sticky_move_up{
  margin-top: -220px;
}

.sticky_move_down{
  margin-top: 0px;
}

.info-box{
  padding: 20px 15px;
  background: white;
  position: relative;
  max-height: 40vh;
  .info-content{
    padding-bottom: 20px;
    img{
      width: 70%;
      max-width: 100% !important;
      margin-bottom: 10px;
    }
    p{
      font-size: 15px;
      margin-bottom: 5px;
      a{
        cursor: pointer;
        color: $main-bg-color;
        font-weight: bold;
      }
    }
  }
}

.custom-map{
  height: 100vh;
  @media screen and (max-width: 767px){
    height: 80vh;
  }
}

.map-contact{
  height: 260px;
}

.map-content{
  .hide-tour{
    cursor: pointer;
    position: absolute;
    top: 81%;
    @media screen and (max-width: 991px){
      top: 87%;
    }
    @media screen and (max-width: 767px){
      top: 61%;
    }
    right: 10px;
    padding: 10px;
    background: white;
    color: #666666 !important;
    &:hover{
      color: #000 !important;
    }
  }
  .filter{
    cursor: pointer;
    position: absolute;
    top: 110%;
    left: 1%;
    @media screen and (max-width: 1024px){
      top: 101%;
    }
    @media screen and (max-width: 767px){
      top: 82%;
      left: 2%;
    }
    padding: 10px;
    background: white;
    color: #666666 !important;
    &:hover{
      color: #000 !important;
    }
  }
}

.search-box-map{
  @media screen and (max-width: 576px){
    left: 10px !important;
    width: 180px !important;
    top: 40px !important;
  }
}

.gm-style .gm-style-iw-c{
  padding-right: 25px !important;
  width: 450px !important;
}

.gm-style-iw-d{
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.gm-ui-hover-effect{
  top: -4px !important;
  right: -4px !important;
  width: 32px !important;
  height: 32px !important;
  img{
    width: 18px !important;
    height: 18px !important;
  }
}

.custom-pagination-a{
  display: inline-block;
  padding: 13px 18px;
  color: #222;
}

.custom-pagination-li{
  &.active{
    background-color: $main-bg-color;
    a{
      color: white;
      font-weight: 600;
    }
  }
}

.break-me{
  display: inline-block;
  padding: 13px 10px;
  color: #222;
}

.previous-pagination-a, .next-pagination-a{
  background-color: $main-bg-color;
  margin: auto 5px;
  color: #fff !important;
  border: 3px solid $main-bg-color;
  position: relative;
  display: inline-block;
  padding: 10px 14px;
  font-weight: 600;
}

.disabled-navigate{
  a{
    font-weight: normal;
    cursor: not-allowed;
  }
}

.pretty{
  @media screen and (max-width: 576px){
    white-space: unset;
    label{
      text-indent: 1.6em;
      &:before{
        top: calc((0% - (100% - 3.2em)) - 8%) !important;
      }
    }
    span{
      width: 100%;
      display: block;
      line-height: 20px;
    }
  }
}
.rt-resizable-header-content{
  font-weight: 700;
}

.react-autosuggest-search{
  background-color: #f9f9f9;
  border-width: 1px;
  border-color: #f1f1f1;
  border-radius: 0px;
  border-style: solid;
  padding: 10px 20px;
  -webkit-appearance: none;
  color: #a3a3a3;
  width: 100%;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-color: #f1f1f1;
}

.react-autosuggest__suggestion--highlighted {
    background: $main-bg-color;
    color: white;
    border-color: white;
}

.react-autosuggest__suggestions-container{
  overflow: auto;
  max-height: 250px;
}

.my-gallery-class{
  width: 100%;
}

.btn-filled{
  display: none;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  // margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  // padding-left: 30px; /* gutter size */
}

// Style your items
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.fb-comments-count-container{
  div{
    display: inline;
  }
}

.put-into{
  font-weight: 600;
  font-size: 14px;
  margin-top: 15px;
  display: block;
  span, i{
    color: $main-bg-color;
  }
  &:hover{
    span, i{
      color: black;
    }
  }
}

.w-30{
  width: 30%;
}

.zoid-outlet{
  height: 100% !important;
  width: 35% !important;
}

.paypal-button.paypal-button-shape-pill{
  border-radius: 10px !important;
}
